.faq {
  margin-top: 40px;
  width: 100%;

  & .dropdown-text {
    display: flex;
    font-weight: bold;
    & .chevron {
      margin-left: 20px;
    }
  }

  & .dropdown-items {
    margin-top: 20px;
  }



  & p {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
  }
  & a {
    color: $secondary;
  }
}
