.header {
  max-width: 100%;
  height: calc(.2 * 100vw);
  background-size: cover;
  background-position-x: 0;
  background-position-y: 0;
  position: relative;

  @include breakpoint(1100px){
    height: 250px;
    background-position-y: -50px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  & .hamburger {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 30px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    @include breakpoint(phone){
      display: flex;
    }

    & .mobile-line {
      border-radius: 5px;
      background: white;
      width: 100%;
      height: 4px;
    }
  }

  & .mobile-menu{
    z-index: 10;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.7);
    backdrop-filter: blur(5px);

    &.open {
      display: flex;
    }

    & .menu {
      position: fixed;
      width: 80%;
      background-color: $secondary;
      height: 100%;
      left: -80vw;
      transition: left .5s ease;

      @include breakpoint(500px){
        width: 90%;
      }

      &.open {
        left: 0;
      }

      & .close {
        position: absolute;
        right: 50px;
        top: 50px;
        width: 30px;
        height: 30px;
        align-items: center;
        z-index: 20;

        & .mobile-line{
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 4px;
          background: white;
          border-radius: 2px;
          transform: rotate(45deg);

          &:not(:first-child){
            transform: rotate(-45deg);
          }
        }
      }

      & ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;
        margin-left: 20%;
        height: 100%;
        width: 60%;

        @include breakpoint(600px){
          margin-left: 10%;
          width: 80%;
          margin-top: 100px;
        }

        & li {
          font-size: 30px;
          padding: 20px 0;
          width: 100%;
          color: white;

          & a {
            color: white;
            text-decoration: none;
          }

          @include breakpoint(600px){
            font-size: 25px;
          }

          &:not(:last-child){
            border-bottom: 1px solid white;
          }

          & .chevron{
            margin-left: 20px;
            font-size: 20px;
          }

          & ul {
            justify-content: flex-start;
            align-items: flex-start;
            margin: 10px 0 0 20px;
            width: 100%;
            & li {
              padding: 10px;
              font-size: 20px;

              &:not(:last-child){
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}
