.left-column {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-height: calc(100vh - 300px);

  @include breakpoint(1200px){
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    min-height: 100px;
  }

  @include breakpoint(phone){
    justify-content: center;
  }
}
