.portal {
  &-header{
    width: 100%;
    background-color: $primary;
    border-radius: 20px;
    & nav {
      display: flex;
      flex-direction: column;
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0;
    & li {
      list-style: none;
      & a {
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        height: 100%;
        &.selected {
          background-color: $secondary;
        }
      }
      &:not(:first-child){
        margin-left: 25px;
      }
    }
  }
}

