.portal {
  &-header{
    margin: 20px 0;
    width: 100%;
    background-color: $primary;
    border-radius: 20px;

    @include breakpoint(phone){
      display: none;
    }

    & nav {
      display: flex;
      flex-direction: column;
    }

  }

  &-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 0;
    & li {
      display: flex;
      height: 100%;
      list-style: none;
      & a {
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        height: 100%;
        &.selected {
          background-color: $secondary;
        }
      }
      &:not(:first-child){
        margin-left: 3%;
      }
    }
  }
}

