.sub-header {
  background-color: $secondary;
  height: 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0;
    padding-top: 5px;
    width: 100%;
    & li {
      list-style: none;
      margin-left: 20px;
      & a {
        color: white;
        text-decoration: none;
      }
    }
  }

  & .selected {
    text-decoration: underline;
  }

  & .info {
    width: 100%;
    justify-self: flex-start;
    margin-left: 50px;
    color: white;
    align-self: flex-start;
  }
}
